body {
  color: #3c4043;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

#start-button {
    border-radius: 15%;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

#start-button:hover {
    background-color: white;
  }

#welcome {
    background-color: #a5d6a7;
    float: left;
    width: 70%;
}

#welcome-text {
    margin: 20px 30px;
    padding: 150px;
    
}

#pros-list {
    line-height: 400%;
    list-style-type: none;
    vertical-align: center;;
}

#login-title {
    font-size: 35px;
}

#login-subtitle {
    font-size: 25px;
}

.bait-pictures {
    width: 150px;
}

#logo-text {
    display: flex;
    font-size: 20px;
}

#login {
    margin-left: 30%;

}

#username-title {
    font-size: 25px;
    margin: 30px 50px;
    margin-left: 15px;
    padding: 60px;
}
