a:visited, a:link {
  color: #3c4043;
}

body {
  /* background-color: #e8eaed; */
  color: #3c4043;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

content {
  align-items: center;
  display:flex;
  flex-direction: column;
}

#header {
    
}

nav {
  background-color: #a5d6a7;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
  margin: 0 0 20px 0;
  padding: 10px 50px;
  width: 100%;
}

nav:a, nav:a:visited {
  color: #3c4043;
  text-decoration: none;
}

#nav-title {
  text-transform: uppercase;
}

.nav-item {
  color: #3c4043;
  padding-left: 20px;
  text-decoration: none;
}

#table {
  background-color: #ffffff;
  border: 1px solid #0277bc;
  border-radius: 8px;
  display: table;
  margin: 20px 0px 20px 0px;
  padding: 18px;
  width: 80%;
}

#table-body {
    display: table-row-group;
}

.table-body-row {
    display: table-row;
}

.table-body-cell {
  border-bottom: 1px solid #0277bc;;
  display: table-cell;
  padding: 5px;
  text-align: justify;
}

#table-header {
  display: table-header-group;
}

.table-header-cell {
  /* background: #9AA0A6; */
  border-bottom: 1px solid #0277bc;;
  display: table-cell;
  font-weight: 500;
  padding: 5px;
  text-align: justify;  
}