a, a:visited {
  color: #3c4043;
  text-decoration: none;
}

.accordion {
  background-color: #0277bc;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;  
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0px 0px 0px;
  outline: none;
  padding: 18px;
  transition: 0.4s;
  text-align: left;
  width: 100%;
}

.accordion:after {
  color: #ffffff;
  content: '+';
  float: right;
  font-weight: 500;
}

.active, .accordion:hover {
  background-color: #004c8b;
}

.active {
  background-color: #0277bc;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.active:after {
  content: "-";
}

#address-map-view {
    height: 300px;
}

body {
  background-color: #ffffff;
  color: #3c4043;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

button {
  background-color: #0277bc;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  margin: 15px 0px;
  outline: none;
  padding: 6px 8px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.card-end {
  padding-bottom: 18px;
}

content {
  align-items: center;
  display:flex;
  flex-direction: column;
}

img {
  max-width: 600px;
  height: auto;
}

.indent {
  padding-left: 24px;
}

nav {
  background-color: #a5d6a7;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
  margin: 0 0 20px 0;
  padding: 10px 50px;
  text-decoration: none;
  width: 100%;
}

#nav-title {
  text-transform: uppercase;
}

.nav-item, .overview-item {
  padding-left: 20px;
}

.overview-item {
  font-weight: 500;
}

.panel {
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #3c4043;
  max-height: 0;
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#review, #review-overview {
  width: 60%;
}

#review-overview {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px 0px 5px 0px;
}

select {
  outline: none;
  width: 150px;
}

.sub-header {
  color: #5f6368;
}

textarea {
  height: 150px;
  resize: none;
  width: 100%;
}

.tool-list a {
    text-decoration: underline;
}