a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

#content{
  display: grid;
  justify-items: center;
}

nav {
  justify-self: end;
  padding: 10px 10px 10px 0px;
}

#table {
  display: table;
  margin: 20px 0px 20px 0px;
  width: 95%;
}


#table-body {
    display: table-row-group;
}

.table-body-row {
    display: table-row;
}

.table-body-cell {
  border-bottom: 1px solid black;
  display: table-cell;
  padding: 5px;
  text-align: justify;
}

#table-header {
  display: table-header-group;
}

.table-header-cell {
  background: #9AA0A6;
  border-bottom: 1px solid black;
  display: table-cell;
  font-weight: 500;
  padding: 5px;
  text-align: justify;  
}