body {
    color: #3c4043;
    font-family: 'Roboto', sans-serif;
    padding: 150px 500px;
    text-align: center;
}

#home {
    width: 60px;
    height: 60px;
}

#checkmark {
    height: 150px;
    width: 150px;
}

