

body, html {
    background: #000000 url(/images/community-image.JPG) no-repeat 0 0;
    background-size: cover;
}

#community-content {
    background-color: green;
}

#submitted-comments {
    background-color: lavender;
}