

body, html {
    background-image: url(/images/community-image.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

#community-content {
    background-color: green;
}

#submitted-comments {
    background-color: lavender;
}