

body, html {
    background: #000000 url(/images/community-image.JPG) no-repeat 0 0;
    background-size: cover;
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 0;
}

/* header styles */

#header {
    align-items: center;
    background-color: rgb(192, 192, 192);
    background-image: linear-gradient(rgb(192, 192, 192), rgb(129, 129, 129));
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#header img {
    height: 75px;
    width: 100px;
}

#header p {
    padding: 7px;
}

#header a {
    color: black;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

/* footer styles */

#footer {
    flex-shrink: 0;
}

#footer img {
    height: 32px;
    padding: 3px;
    width: 32px;
}

.left {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}


/* end */

.comment-div {
    display: flex;
    margin: 10px 10% 10px 10%;
    justify-content: space-around;
}

.lavender {
    background-color: #E6E6FA;
}

.lavender-blush {
    background-color: #FFF0F5;
}

.lime-green {
    background-color: #00FF00;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}