body, html {
  height: 100%;
}

.background {
    background-image: url("/images/mountain.JPG");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Garamond';
    background-color: black;
    border-style: solid;
    padding: 20px;
    text-align: center;
}

#home-content ul {
    list-style-type: square;
}

#home-content li:hover {
    text-decoration: underline;
}

